In [23]:
import pymongo
import pandas as pd

## **Inserimento dati da un altro DataBase**

In [24]:

client = pymongo.MongoClient(
    "mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.sample_supplies

In [ ]:
df = pd.DataFrame(list(db.sales.find()))
df

In [26]:
client2 = pymongo.MongoClient(
    "mongodb://Luca:Luca@cluster0-shard-00-00.dl9eb.mongodb.net:27017,cluster0-shard-00-01.dl9eb.mongodb.net:27017,cluster0-shard-00-02.dl9eb.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-8a6zwm-shard-0&authSource=admin&retryWrites=true&w=majority")
db2 = client.sample_vendite

In [27]:
'''db2.vendite.insert_many(df.to_dict("records"))'''

'db2.vendite.insert_many(df.to_dict("records"))'

In [48]:
df = pd.DataFrame(list(db2.vendite.find()))
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod,costumer
0,5bd761dcae323e45a93cd025,None,"[{'name': 'binder', 'tags': 'education', 'pric...",Denver,"{'gender': 'M', 'age': 129, 'email': 'hegbif@l...",False,Online,{'age': 24}
1,5bd761dcae323e45a93cd015,None,[{'tags': 'stationary'}],Seattle,"{'gender': 'M', 'age': 124, 'email': 'apokas@m...",False,Online,{'age': 24}
2,5bd761dcae323e45a93cd0c4,None,"[{'name': 'laptop', 'tags': 'education', 'pric...",Seattle,"{'gender': 'M', 'age': 115, 'email': 'jul@orus...",False,In store,{'age': 24}
3,5bd761dcae323e45a93cd04f,None,"[{'name': 'binder', 'tags': 'education', 'pric...",Seattle,"{'gender': 'M', 'age': 117, 'email': 'ewha@oc....",False,In store,{'age': 24}
4,5bd761dcae323e45a93cd0cf,None,[{'tags': 'stationary'}],Seattle,"{'gender': 'M', 'age': 129, 'email': 'hocezec@...",False,Online,{'age': 24}
...,...,...,...,...,...,...,...,...
307,5bd761deae323e45a93ce1fa,None,"[{'name': 'binder', 'tags': 'education', 'pric...",Austin,"{'gender': 'M', 'age': 120, 'email': 'ducifes@...",False,Online,{'age': 24}
308,5bd761deae323e45a93ce343,None,"[{'name': 'binder', 'tags': 'education', 'pric...",Seattle,"{'gender': 'M', 'age': 116, 'email': 'miwacpe@...",False,Online,{'age': 24}
309,5bd761deae323e45a93ce2ac,None,"[{'name': 'binder', 'tags': 'education', 'pric...",Seattle,"{'gender': 'M', 'age': 119, 'email': 'ir@rarta...",False,Online,{'age': 24}
310,5bd761deae323e45a93ce34b,None,"[{'name': 'binder', 'tags': 'education', 'pric...",Denver,"{'gender': 'F', 'age': 119, 'email': 'beihadu@...",False,In store,{'age': 24}
311,5bd761deae323e45a93ce23e,None,[{'tags': 'stationary'}],Denver,"{'gender': 'F', 'age': 122, 'email': 'dujum@ke...",False,In store,{'age': 24}

## **Cancellazione dati con Delete**

In [29]:
result=db2.vendite.delete_many({"storeLocation":"San Diego"})
result.deleted_count

0

In [30]:
from bson.objectid import ObjectId
result=db2.vendite.delete_one({"_id" : ObjectId('5bd761dcae323e45a93cd005')}) # per esempio l'id 5bd761dcae323e45a93cd005
result.deleted_count

1

## **Metodo Increase $inc**

MongoDB manual [link](https://www.mongodb.com/docs/manual/reference/operator/update/inc/)

In [46]:
result=db2.vendite.update_many({},{"$inc":{"customer.age":8}})
result.modified_count

312

## **Push e Pull**

MongoDB manual [link](https://www.mongodb.com/docs/manual/reference/operator/update/inc/)

Pull rimuove un valore in un array

In [32]:
result = db2.vendite.update_many({},{ '$pull': { 'items': { 'tags':  'stationary'}}})
result.modified_count

0

Push inserice un valore in un array

In [33]:
result = db2.vendite.update_many({},{ '$push': { 'items': { 'tags':  'stationary'}}})
result.modified_count

312

In [34]:
result = db2.vendite.update_many({}, {'$pull': { 'items': {'name': "notepad"}}}) #gggg
result.modified_count

179

## **Avrage e Round**

Calcolare Valore medio in Array di items

In [35]:
result = db2.vendite.aggregate([{"$unwind" : "$items"},
                    {"$group" :{"_id": "", "avgPrice": { "$avg":  "$items.price"} }}
])
df = pd.DataFrame(list(result))
df

  _id                             avgPrice
0      284.1087936507936507936507936507937

Arrotondare Il valore **Metodo 1:**

In [36]:
AddField = {'$addFields': {"avgPrice": { "$round": ['$avgPrice', 2] }}} 

result = db2.vendite.aggregate([{"$unwind" : "$items"},
                    {"$group" :{"_id": "", "avgPrice": { "$avg":  "$items.price"} }},
                    AddField
])
df = pd.DataFrame(list(result))
df

  _id avgPrice
0       284.11

Arrotondare Il valore **Metodo 2:**

In [37]:
project = { '$project': { 'avgPrice': { "$round": ['$avgPrice', 2] }}}

result = db2.vendite.aggregate([{"$unwind" : "$items"},
                    {"$group" :{"_id": "", "avgPrice": { "$avg":  "$items.price"} }},
                    project
])
df = pd.DataFrame(list(result))
df

  _id avgPrice
0       284.11

## **Modificare Con Update in un array**

Modificare valore in un array dentro una lista di array

In [38]:
result = db2.vendite.update_many(
    { "items.tags": "school" }, 
    { "$set": { "items.$.tags": "education" } } #<- the dollar represents the first matching array key index
    
)
result.modified_count

232

Modificare il valore direttamente in una lista (non funziona su questi dati)

In [39]:
result = db2.vendite.update_many(
    { "tags": "school" }, 
    { "$set": { "tags.$": "education" } } #<- the dollar represents the first matching array key index
    
)
result.modified_count

0

## **Valori Min E Max nel aggregate**

Valore massimo/minimo

In [40]:
result = db2.vendite.aggregate([{ "$group": {"_id": "","maxAge": {"$max": "$customer.age" }}}])
df = pd.DataFrame(list(result))
df

  _id  maxAge
0         115

Valore massimo/minimo di un array

In [41]:
result = db2.vendite.aggregate([
    { "$group": {
        "_id": "",
        "maxAge": {
            "$max": "$customer.age"
        },
        "customer_data": {
            "$push": {
                "gender": "$customer.gender",
                "age": "$customer.age",
                "email": "$customer.email",
            }
        }
       }     
    },
    {"$unwind" : "$customer_data"},
    {"$match": {"$expr": {"$eq": [ "$customer_data.age","$maxAge"]}}}])
df = pd.DataFrame(list(result))
df

  _id  maxAge                                      customer_data
0         115  {'gender': 'M', 'age': 115, 'email': 'wuzamfud...
1         115  {'gender': 'F', 'age': 115, 'email': 'ne@potad...
2         115  {'gender': 'M', 'age': 115, 'email': 'kiagi@ru...

valore massimo/minimo di una lista di array

In [42]:
result = db2.vendite.aggregate([{ "$unwind" :'$items'},
                                {"$group":{"_id":"$items.price", "names":{"$push":"$items.name"}, "count":{"$sum":1}}},
                                {"$sort":{"_id":-1}}, # sort id : 1 per il valore minimo
                                {"$limit":1}])
df = pd.DataFrame(list(result))
df

       _id     names  count
0  1554.35  [laptop]      1