<a href="https://colab.research.google.com/github/paggiLuca/Python/blob/main/Corezione_Verifica_Pandas_Matplotlib_MongoDB_(26_11_2021).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Collegarsi al proprio database (indicare sommariamente la stringa di connessione) e scaricare in un
dataframe la collection chiamata “comuni_italiani”. Visualizzare il dataframe. Si otterrà quanto segue:

In [ ]:

import pymongo
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
client = pymongo.MongoClient("mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.people
cm= db.comuni_italiani
df = pd.DataFrame.from_records(cm.find())
df

                           _id  ... Ripartizione geografica
0     619f9ec67727bc651542bb9f  ...              Nord-ovest
1     619f9ec67727bc651542bbad  ...              Nord-ovest
2     619f9ec67727bc651542bbc5  ...              Nord-ovest
3     619f9ec67727bc651542bbd4  ...              Nord-ovest
4     619f9ec67727bc651542bbdd  ...              Nord-ovest
...                        ...  ...                     ...
7902  619f9ec67727bc651542da67  ...                   Isole
7903  619f9ec67727bc651542da6d  ...                   Isole
7904  619fa3557727bc651542da80  ...              Nord-ovest
7905  619fa3c57727bc651542da81  ...                Nord-est
7906  619fa3e77727bc651542da82  ...                   Isole

[7907 rows x 5 columns]

2. Eliminare la colonna ‘_id’ e rinominare le altre colonne in modo che sia più semplice utilizzarle.
Chiamarle ‘nome’, ‘provincia’, ‘regione’ e ‘area’

In [ ]:
#GIUSTO     
df.drop(columns="_id",inplace = True)
df.rename(columns={"Denominazione in italiano":"Nome","Denominazione Regione":"Regione","Ripartizione geografica":"Area"},inplace=True)
df

               Nome     Provincia                Regione        Area
0             Agliè        Torino               Piemonte  Nord-ovest
1         Balangero        Torino               Piemonte  Nord-ovest
2           Bruzolo        Torino               Piemonte  Nord-ovest
3            Caprie        Torino               Piemonte  Nord-ovest
4     Castagneto Po        Torino               Piemonte  Nord-ovest
...             ...           ...                    ...         ...
7902        Siliqua  Sud Sardegna               Sardegna       Isole
7903      Tratalias  Sud Sardegna               Sardegna       Isole
7904            NaN        Torino               Piemonte  Nord-ovest
7905            NaN       Gorizia  Friuli-Venezia Giulia    Nord-est
7906            NaN     Agrigento                Sicilia       Isole

[7907 rows x 4 columns]

4. Creare un dataframe contenente il numero di comuni per ogni ripartizione geografica. La colonna del
conteggio deve chiamarsi &#39;totale&#39; e nel dataframe non devono essere presenti altre colonne

In [ ]:
#SBAGLIATO
df2 = df2.groupby(['Area']).count()[["Nome"]].reset_index().rename(columns={"Nome":"Totale"},inplace =True)
df2

5. Visualizzare un grafico a torta a partire dai dati presenti nel dataframe precedente. Salvare il grafico in
un file png. Il risultato deve essere il seguente (prestare attenzione ai valori da visualizzare negli spicchi)

In [ ]:
dt = df2["totale"].value_counts()
fig, ax=plt.subplots()

plt.savefig("Grafico.png")