<a href="https://colab.research.google.com/github/paggiLuca/Python/blob/main/Esercizio_Pandas_Merge_BikeStore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
brands = pd.read_excel('https://github.com/wtitze/4E/blob/main/BikeStores.xls?raw=true',sheet_name=0)
brands

   brand_id    brand_name
0         1       Electra
1         2          Haro
2         3        Heller
3         4   Pure Cycles
4         5       Ritchey
5         6       Strider
6         7  Sun Bicycles
7         8         Surly
8         9          Trek

In [ ]:
categories = pd.read_excel('https://github.com/wtitze/4E/blob/main/BikeStores.xls?raw=true',sheet_name=1)
categories

   category_id        category_name
0            1    Children Bicycles
1            2     Comfort Bicycles
2            3    Cruisers Bicycles
3            4  Cyclocross Bicycles
4            5       Electric Bikes
5            6       Mountain Bikes
6            7           Road Bikes

In [ ]:
products  = pd.read_excel('https://github.com/wtitze/4E/blob/main/BikeStores.xls?raw=true',sheet_name=2)
products

     product_id                          product_name  ...  model_year  list_price
0             1                       Trek 820 - 2016  ...        2016      379.99
1             2    Ritchey Timberwolf Frameset - 2016  ...        2016      749.99
2             3       Surly Wednesday Frameset - 2016  ...        2016      999.99
3             4              Trek Fuel EX 8 29 - 2016  ...        2016     2899.99
4             5          Heller Shagamaw Frame - 2016  ...        2016     1320.99
..          ...                                   ...  ...         ...         ...
316         317          Trek Checkpoint ALR 5 - 2019  ...        2019     1999.99
317         318  Trek Checkpoint ALR 5 Women's - 2019  ...        2019     1999.99
318         319   Trek Checkpoint SL 5 Women's - 2019  ...        2019     2799.99
319         320           Trek Checkpoint SL 6 - 2019  ...        2019     3799.99
320         321   Trek Checkpoint ALR Frameset - 2019  ...        2019     3199.99

[321 rows x 6 columns]

il catalogo complessivo dei prodotti. Visualizzare il nome del prodotto, il nome della marca e la categoria

In [ ]:
catalogo = pd.merge(products, categories, how= "inner", on=["category_id"])
catalogo

     product_id  ...   category_name
0             1  ...  Mountain Bikes
1             2  ...  Mountain Bikes
2             3  ...  Mountain Bikes
3             4  ...  Mountain Bikes
4             5  ...  Mountain Bikes
..          ...  ...             ...
316         317  ...      Road Bikes
317         318  ...      Road Bikes
318         319  ...      Road Bikes
319         320  ...      Road Bikes
320         321  ...      Road Bikes

[321 rows x 7 columns]

In [ ]:
CatalogoComplessivo= pd.merge(catalogo, brands, how= "inner", on= ["brand_id"])
CatalogoComplessivo[["product_name", "category_name", "brand_name"]]

                                          product_name  ...   brand_name
0                                      Trek 820 - 2016  ...         Trek
1                             Trek Fuel EX 8 29 - 2016  ...         Trek
2                             Trek Slash 8 27.5 - 2016  ...         Trek
3                Trek Remedy 29 Carbon Frameset - 2016  ...         Trek
4                              Trek X-Caliber 8 - 2017  ...         Trek
..                                                 ...  ...          ...
316  Pure Cycles Western 3-Speed - Women's - 2015/2016  ...  Pure Cycles
317                 Pure Cycles William 3-Speed - 2016  ...  Pure Cycles
318             Strider Classic 12 Balance Bike - 2018  ...      Strider
319                            Strider Sport 16 - 2018  ...      Strider
320                    Strider Strider 20 Sport - 2018  ...      Strider

[321 rows x 3 columns]

il numero di prodotti per ogni categoria. Visualizzare i nomi delle categorie e il numero dei prodotti.

In [ ]:
catalogo_comp.groupby('category_name').count()['product_id']

category_name
Children Bicycles      59
Comfort Bicycles       30
Cruisers Bicycles      78
Cyclocross Bicycles    10
Electric Bikes         24
Mountain Bikes         60
Road Bikes             60
Name: product_id, dtype: int64

In [ ]:
catalogo_comp.groupby('brand_name').count()['product_id']

brand_name
Electra         118
Haro             10
Heller            3
Pure Cycles       3
Ritchey           1
Strider           3
Sun Bicycles     23
Surly            25
Trek            135
Name: product_id, dtype: int64

In [ ]:
cb = catalogo_comp.groupby('brand_name').count()['product_id'].reset_index()
cb.rename(columns={'product_id': 'total'}, inplace=True)
cb[cb.brand_name == 'Trek']

  brand_name  total
8       Trek    135

i prodotti delle categorie che hanno la parola 'Bikes' nel nome

In [ ]:
cc = catalogo_comp.groupby('category_name').count()['product_id']
cc[cc.index.str.contains('Bikes')]

category_name
Electric Bikes    24
Mountain Bikes    60
Road Bikes        60
Name: product_id, dtype: int64

In [ ]:
catalogo_comp[catalogo_comp['list_price'] == catalogo_comp['list_price'].max()]['category_name']

154    Road Bikes
Name: category_name, dtype: object

i brand con almeno 100 prodotti. Viaulizzare il nome del brand e il numero di prodotti

In [ ]:
cb[cb.total>= 100]

  brand_name  total
0    Electra    118
8       Trek    135

la marca del prodotto 'Electra Townie Original 21D - 2016'

In [ ]:
catalogo_comp[catalogo_comp['product_name'] ==  'Electra Townie Original 21D - 2016']['brand_name']

11    Electra
23    Electra
Name: brand_name, dtype: object

il numero di prodotti per ogni anno. Visualizzare l'anno e il numero di prodotti

In [ ]:
prdyear = catalogo_comp.groupby('model_year').count()['product_id'].reset_index()
prdyear.rename(columns={'product_id': 'numProdotti'}, inplace=True)
prdyear

   model_year  numProdotti
0        2016           26
1        2017           85
2        2018          204
3        2019            6